<!DOCTYPE html>
<html  ng-app="app">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <title></title>
</head>
<body ng-controller="GeneralController">

  <div class="container">

    <form>
      <div class="form-group">
        <label for="nomeCidade">Nome da Cidade de Origem</label>
        <input type="text" class="form-control" id="nomeCidade" placeholder="Digite aqui" ng-model="grafo.verticeOrigem">
      </div>
      <div class="form-group">
        <label for="nomeCidadeDois">Nome da Cidade de Destino</label>
        <input type="text" class="form-control" id="nomeCidadeDois" placeholder="Digite aqui" ng-model="grafo.verticeDestino">
      </div>
      <div class="form-group">
        <label for="valor">Valor da Distância</label>
        <input type="number" class="form-control" placeholder="Somente números" ng-model="grafo.valorAresta">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="adicionar(grafo)">Adicionar</button>
    </form>

    <table class="table">
      <tbody>
        <tr>
          <th>   </th>
          <th ng-repeat="vertice in vertices">{{vertice.nome}}</th>
        </tr>
        <tr ng-repeat="vertice in vertices">
          <td>
            {{vertice.nome}}
          </td>
          <td ng-repeat="valor in getValores(vertice) track by $index">
            {{valor}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="aresta.js"></script>
  <script src="vertice.js"></script>
  <script src="graph.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
